            <h3>About me</h3>
            <img src="/images/milep_6_200.jpg" class="center" />
            <ul>
              <li>
                Professionally in software development since 1999
              </li>
              <li>
                Co-founder of <a href="http://www.eebu.com/">Eebu Finland Oy</a>
              <li>
                <a href="http://fi.linkedin.com/in/milep">LinkedIn</a>
              </li>
              <li>
                <a href="https://plus.google.com/101035925352586799794/posts">Google+</a>
              </li>
            </ul>
